﻿/*Basically, just my custom stuff and modifications to bootstrap.*/

.row {
    margin-bottom: 10px;
}

.form-signin {
max-width: 300px;
padding: 19px 29px 29px;
/*margin: 0 auto 20px;*/
margin: 0 0 20px;
background-color: #fff;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 15px;
padding: 7px 9px;
}

body {
    background-image: url('/Content/Images/subtle_dots.png');
}

/*
div {
    background-color: black;
}
*/

/*Courtesy of http://css-tricks.com/examples/BoxSizing/*/
textarea {
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
     width: 100%;
}

.alert-login {
    margin-top: 20px;
    margin-bottom: 0px;
}

.well-fix {
    min-width: 220px;
    max-width: 220px;
}

.search-header {
    text-align: center;
}